<mat-card>

    <mat-card-content>
        <div class="center" style="margin-top: 20px;">
            <h1 class="border">الفريق البحثى </h1>
            <h2 style="margin-top: 20px;">الباحث الرئيسى</h2>
            <h2 style="font-size: 35px;">أ.د. معتز خورشيد</h2>
        </div>

        <div style="margin-top: 25px; margin-bottom: 25px;" class="center" fxLayout="row wrap" fxLayoutAlign="center center">

            <div style="margin-top: -120px;" fxFlex.gt-sm="31" fxFlex.gt-xs="31" fxFlex="100" fxFlex.gt-md="31">
                <h2 class="border">الفريق المركزى </h2>
                <h3 style="margin-top: 20px;">أ.د. أمنية حلمى</h3>
                <h3>أ.د. محمد إسماعيل</h3>
                <h3>د. محمد رمضان</h3>
            </div>

            <div fxFlex.gt-sm="31" fxFlex.gt-xs="31" fxFlex="100" fxFlex.gt-md="31">

                <h2 class="border">الفريق المساعد </h2>
                <h3 style="margin-top: 20px;"> د. هيام حلمى إبراهيم</h3>
                <h3> د.نهى سامى عمر</h3>
                <h3> أ.هيام جمال محمد وهدان</h3>
                <h3> أ.ناهد محمد طارق</h3>
                <h3> أ. مرقس مجدى</h3>
                <h3> أ. مروة صبرى</h3>
            </div>
            <div style="margin-top: -120px;" fxFlex.gt-sm="31" fxFlex.gt-xs="31" fxFlex="100" fxFlex.gt-md="31">

                <h2 class="border">الفريق الإدارى</h2>
                <h3 style="margin-top: 20px;">أ. إسماعيل حسانين</h3>
                <h3>أ. تيسير فرج على</h3>
                <h3>أ. عبدالرحمن محمد</h3>
            </div>
        </div>
        <div class="center">
            <h2 class="border">الإشراف العام والتنفيذ </h2>
            <h2 style="margin-top: 20px;">مركز البحوث والدراسات الإقتصادية والمالية </h2>
            <h3>أ.د. عادلة رجب </h3>
        </div>
    </mat-card-content>

</mat-card>