<div [dir]="coreService.layout" class="gene-login login-v2 pad-y-xl">
    <div fxLayout="row" fxLayoutAlign="center start">
        <div fxLayout="column" fxFlex="100" fxFlex.xs="90" fxFlex.sm="80" fxFlex.md="95" fxFlex.lg="70" fxFlex.xl="60">
            <mat-toolbar-row fxLayoutAlign="space-between" fxLayout.xs="column" fxLayoutAlign.xs="center center" class="mrgn-x-md">
                <div class="mrgn-b-md">
                    <img src="./assets/img/logo-sign.png">
                </div>
            </mat-toolbar-row>
            <div fxLayout="row wrap" fxLayoutAlign="center stretch" class="height-full pad-t-xl pad-b-xl form-wrap-row set-resp-space" fxLayoutGap.gt-md="15px">
                <div fxLayout="column" fxFlex="100" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="60" fxFlex.lg="60" fxFlex.xl="60">
                    <mat-card class="gene-login-v2 card-full-height card-full-width">
                        <div>
                            <div fxLayout="column" fxLayoutAlign="center center" class="mrgn-b-lg text-center">
                                <h2>Get Started With Register</h2>
                            </div>
                            <form autocomplete="off" [formGroup]="registerForm" fxLayoutAlign="center start">
                                <div fxLayout="column" fxFlex.xs="100" fxFlex.sm="80" fxFlex.md="80" fxFlex.lg="70" fxFlex.xl="70" fxLayoutAlign="start">

                                    <mat-form-field class="full-wid mrgn-b-md" appearance="outline">
                                        <mat-label>{{'Name' | translate}}</mat-label>
                                        <input class="mrgn-t-none" matInput placeholder="{{'Name' | translate}}" type="text" formControlName="name">
                                        <span matSuffix><i class="material-icons">vpn_key</i></span>
                                        <mat-error *ngIf="errorHandling('name', 'required')">
                                            {{'This field is required' | translate}}
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field class="full-wid mrgn-b-md" appearance="outline">
                                        <mat-label>{{'Email' | translate}}</mat-label>
                                        <input class="mrgn-t-none" matInput placeholder="{{'Email' | translate}}" formControlName="email" type="text">
                                        <span matSuffix><i class="material-icons">verified_user</i></span>
                                        <mat-error *ngIf="errorHandling('email', 'required')">
                                            {{'This field is required' | translate}}
                                        </mat-error>
                                        <mat-error *ngIf="errorHandling('email', 'email')">
                                            Email invalid format
                                        </mat-error>
                                    </mat-form-field>


                                    <div fxLayoutAlign="center start" class=" mrgn-b-lg">
                                        <button mat-flat-button class="success-bg gene-btn-lg" (click)="register()" [disabled]="!registerForm.valid">{{'Register' | translate | uppercase}}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>