<div fxLayout="row" fxLayoutAlign="center start">
    <div fxLayout="column" fxFlex="100" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">

        <div fxLayout="row wrap" fxLayoutAlign="center stretch" class="height-full pad-t-xl pad-b-xl form-wrap-row set-resp-space" fxLayoutGap.gt-md="15px">
            <div fxLayout="column" fxFlex="100" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
                <mat-card class="gene-login-v2 card-full-height card-full-width">
                    <div>
                        <div fxLayout="column" fxLayoutAlign="center center" class="mrgn-b-lg text-center">
                            <h2>{{'Research Information' | translate}}</h2>
                        </div>
                        <div fxLayoutAlign="center start">
                            <div fxLayout="column" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" fxLayoutAlign="start">

                                <div fxLayout="row wrap" fxLayoutAlign="space-between center">

                                    <p fxFlex="30" fxFlexOffset="3"><span class="bold">{{'Name' | translate}}:</span> {{research?.name}}
                                    </p>

                                    <p fxFlex="30" fxFlexOffset="3"><span class="bold">{{'Email' | translate}}:</span> {{research?.email}}
                                    </p>

                                    <p fxFlex="30" fxFlexOffset="3"><span class="bold">{{'Phone' | translate}}:</span> {{research?.phone}}
                                    </p>

                                </div>


                                <div fxLayout="row wrap" fxLayoutAlign="space-between center">


                                    <p fxFlex="45" fxFlexOffset="5"><span class="bold">{{'Entity' | translate}}:</span> {{research?.entity}}
                                    </p>

                                    <p fxFlex="45" fxFlexOffset="5"><span class="bold">{{'Address' | translate}}:</span> {{research?.address}}
                                    </p>

                                </div>

                                <div fxLayout="row wrap" fxLayoutAlign="space-between center">



                                    <p fxFlex="30" fxFlexOffset="3"><span class="bold">{{'FullTimeEmployeesNumber' | translate}}:</span> {{research?.fullTimeEmployeesNumber}}
                                    </p>

                                    <p fxFlex="30" fxFlexOffset="3"><span class="bold">{{'PartTimeEmployeesNumber' | translate}}:</span> {{research?.partTimeEmployeesNumber}}
                                    </p>

                                    <p fxFlex="30" fxFlexOffset="3"><span class="bold">{{'PhDResearchersNumber' | translate}}:</span> {{research?.phDResearchersNumber}}
                                    </p>
                                </div>



                                <div fxLayout="row wrap" fxLayoutAlign="space-between center">


                                    <p fxFlex="30" fxFlexOffset="3"><span class="bold">{{'MastersResearchersNumber' | translate}}:</span> {{research?.mastersResearchersNumber}}
                                    </p>

                                    <p fxFlex="30" fxFlexOffset="3"><span class="bold">{{'BachelorsResearchersNumber' |
                      translate}}:</span> {{research?.bachelorsResearchersNumber}}
                                    </p>

                                    <p fxFlex="30" fxFlexOffset="3"><span class="bold">{{'TechniciansNumber' | translate}}:</span> {{research?.techniciansNumber}}
                                    </p>



                                </div>



                                <div fxLayoutAlign="center start" class=" mrgn-b-lg">
                                    <a routerLink="/home/researches" mat-flat-button class="success-bg gene-btn-lg">{{'Back' |
                    translate | uppercase}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>
