<mat-card>
    <mat-card-header>
        <mat-card-title class="intro-title">تقديم</mat-card-title>
    </mat-card-header>
    <mat-card-content class="intro-content">
        من أجل تعزيز قدرات منظومة البحث العلمى والابتكار والتحديث التكنولوجى بمصر، وتعظيم مردودها المجتمعى وتأثيرها المعرفى وانعكاساتها التنموية، تدعم أكاديمية البحث العلمى والتكنولوجيا عدد من المشروعات البحثية ومبادرات الابتكار . وقد تعاقدت الأكاديمية فى هذا
        الإطار مع كلية الاقتصاد والعلوم السياسية بجامعة القاهرة لتنفيذ مشروع بحثى يهدف إلى تقدير العائد الإقتصادى والمردود التنموى للبحث العلمى والإبتكار فى مصر، واقتراح ا لأساليب و الأدوات التحليلية لقياس تأثيرهما المباشر وغير المباشر. ويسرنى فى إطار
        التعاون المستمر بين أكاديمية البحث العلمى والتكنولوجيا وكلية الإقتصاد والعلوم السياسية بجامعة القاهرة، أن أتقدم بالشكر للأكاديمية لتمويل المشروع ودعمه فنيًا، وكلية الإقتصاد والعلوم السياسية لاستضافة المشروع وتنفيذه من خلال مركز البحوث والدراسات
        الاقتصادية والمالية . كما أود أن أتقدم بوافر التقدير إلى أ.د. هالة السعيد – وزيرة التخطيط والتنمية الإقتصادية لمساندتها الفاعلة للمشروع، وأ.د. محمد عثمان الخشت – رئيس جامعة القاهرة لدعمه المستمر لمراكز الجامعة البحثية . وإذا كان الفضل لابد وأن
        يعود إلى أصحابه، فإن الرعاية والدعم الدائم من أ.د. محمود صقر – رئيس الأكاديمية، كان له عظيم الأثر فى تحقيق أهداف المشروع . كما كانت متابعة وتيسير أعمال المشروع من قِبل أ.د. محمود السعيد – عميد كلية الإقتصاد والعلوم السياسية رئيسيًا لإنجاز المشروع
        البحثى بالشكل المرغوب. ولايفوتنى فى هذا المجال أن أتقدم بالشكر للمرحومة أ.د/ جيهان شوقى ً عاملا – مديرة مركز المسوح والدراسات الإحصائية لإعداد القياسات الإحصائية للمشروع . وأخيرًا، يهمنى أن أشكر كل من ساهم فى إنجاز هذا العمل وتحقيقه لأهدافه التنموية،
        وعلى وجه الخصوص، فريق العمل البحثى والإدارى وإدارة كلية الإقتصاد والعلوم السياسية وأكاديمية البحث العلمى والتكنولوجيا.
        <p>
            والله من وراء القصد ،
        </p>
    </mat-card-content>
    <mat-card-footer class="intro-footer">
        <p>أ.د. معتز خورشيد</p>
        <p>الباحث الرئيسى</p>
        <p> وزير التعليم العالى والبحث العلمى الأسبق</p>

    </mat-card-footer>
</mat-card>
