<mat-toolbar color="primary"> {{'Survey' |translate}}</mat-toolbar>

<form #surveyForm="ngForm">


    <mat-card *appQuestionsLoop="let question of questions form surveyForm; let i = index; let c = controller">

        <!--#region Radio  -->

        <ng-container *ngIf="question.type == QuestionType.radio">

            <mat-card-header>
                <mat-card-title>{{question.content}}</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <mat-radio-group class="example-radio-group" name="radioAnswer{{i}}" [(ngModel)]="getAnswerRadio(question.id).answerId">
                    <mat-radio-button class="example-radio-button" *ngFor="let answer of question.answers" [value]="answer.id">
                        {{answer.content}}
                    </mat-radio-button>
                </mat-radio-group>
            </mat-card-content>

            <mat-card-actions>

                <button mat-button (click)="c.prev();prev(i);" [disabled]="c.isFirst()">{{'PREVIOUS' | translate}}</button>

                <button mat-button [ngStyle]="{'float':coreService.layout === 'ltr' ? 'right' : 'left' }" (click)="answerRadio(question.id);c.next();next(i);">{{'NEXT' |
          translate}}</button>

            </mat-card-actions>

        </ng-container>

        <!--#endregion -->

        <!--#region Checkbox  -->

        <ng-container *ngIf="question.type == QuestionType.checkbox">

            <mat-card-header>
                <mat-card-title>{{question.content}}</mat-card-title>
            </mat-card-header>

            <mat-card-content>

                <ul>
                    <li *ngFor="let answer of question.answers">
                        <mat-checkbox name="checked{{i}}" class="example-radio-button" [(ngModel)]="answer.checked">
                            {{answer.content}}
                        </mat-checkbox>
                    </li>
                </ul>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button (click)="c.prev();prev(i);" [disabled]="c.isFirst()">{{'PREVIOUS' | translate}}</button>
                <button mat-raised-button color="primary" [ngStyle]="{'float':coreService.layout === 'ltr' ? 'right' : 'left' }" *ngIf="c.isLast(); else nextBtn">{{'SUBMIT' |
          translate}}</button>
                <ng-template #nextBtn>
                    <button mat-button [ngStyle]="{'float':coreService.layout === 'ltr' ? 'right' : 'left' }" (click)="answerCheckbox(question.id,i);c.next();next(i);">{{'NEXT' |
            translate}}</button>
                </ng-template>
            </mat-card-actions>

        </ng-container>

        <!--#endregion -->

        <!--#region Number  -->

        <ng-container *ngIf="question.type == QuestionType.number">

            <mat-card-header>
                <mat-card-title>{{question.content}}</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <mat-form-field class="full-wid mrgn-b-xs" appearance="outline">
                    <mat-label>{{'Number' | translate}}</mat-label>
                    <input OnlyNumber="true" min="0" name="numberAnswer" [(ngModel)]="question.numberAnswer" class="mrgn-t-none" matInput placeholder="{{'Number' | translate}}" type="number">

                </mat-form-field>

            </mat-card-content>

            <mat-card-actions>
                <button mat-button (click)="c.prev();prev(i);" [disabled]="c.isFirst()">{{'PREVIOUS' | translate}}</button>
                <button mat-button [ngStyle]="{'float':coreService.layout === 'ltr' ? 'right' : 'left' }" (click)="c.next();next(i);answerNumber(question.id,question.numberAnswer)">{{'NEXT' |
          translate}}</button>
            </mat-card-actions>

        </ng-container>

        <!--#endregion -->

        <!--#region Multi Amount  -->

        <ng-container *ngIf="question.type == QuestionType.multiAmount">

            <mat-card-header>
                <mat-card-title>{{question.content}}</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <ul>
                    <li *ngFor="let answer of question.answers">
                        <mat-form-field class="full-wid mrgn-b-xs" appearance="outline">
                            <mat-label>{{answer.content | translate}}</mat-label>
                            <input (keyup)="getSumAmount(i)" OnlyNumber="true" min="0" name="amount{{i}}" [(ngModel)]="answer.amount" class="mrgn-t-none" matInput placeholder="{{'Amount' | translate}}" type="number">
                        </mat-form-field>
                    </li>
                </ul>
                {{'Sum:' | translate}} {{ amountSum }}
            </mat-card-content>

            <mat-card-actions>
                <button mat-button (click)="c.prev();prev(i);" [disabled]="c.isFirst()">{{'PREVIOUS' | translate}}</button>

                <button mat-button [ngStyle]="{'float':coreService.layout === 'ltr' ? 'right' : 'left' }" (click)=" answerMultiAmount(question.id,i);c.next();next(i);">{{'NEXT' |
          translate}}</button>

            </mat-card-actions>

        </ng-container>

        <!--#endregion -->

        <!--#region Multi Percentage  -->

        <ng-container *ngIf="question.type == QuestionType.multiPercentage">

            <mat-card-header>
                <mat-card-title>{{question.content}}</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <mat-radio-group class="example-radio-group" [(ngModel)]="question.percentageRadio" name="percentageRadio{{i}}">
                    <mat-radio-button class="example-radio-button" value="1">{{'Yes' | translate}}</mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="2">{{'No'| translate}}</mat-radio-button>
                </mat-radio-group>
                <ul *ngIf="question.percentageRadio == 1">
                    <li *ngFor="let answer of question.answers">
                        {{answer.content}}
                        <mat-form-field class="full-wid mrgn-b-xs" appearance="outline">
                            <mat-label>{{'own return' | translate}}</mat-label>
                            <input OnlyNumber="true" min="0" class="mrgn-t-none" matInput placeholder="{{'own return' | translate}}" type="number">
                        </mat-form-field>
                        <mat-form-field class="full-wid mrgn-b-xs" appearance="outline">
                            <mat-label>{{'social return' | translate}}</mat-label>
                            <input OnlyNumber="true" min="0" class="mrgn-t-none" matInput placeholder="{{'social return' | translate}}" type="number">
                        </mat-form-field>
                    </li>
                </ul>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button (click)="c.prev();prev(i);" [disabled]="c.isFirst()">{{'PREVIOUS' | translate}}</button>
                <button mat-button [ngStyle]="{'float':coreService.layout === 'ltr' ? 'right' : 'left' }" (click)="c.next();next(i);">{{'NEXT' |
          translate}}</button>
            </mat-card-actions>

        </ng-container>

        <!--#endregion -->

        <!--#region Multi Checkbox  -->

        <ng-container *ngIf="question.type == QuestionType.multiCheckbox">

            <mat-card-header>
                <mat-card-title>{{question.content}}</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <mat-radio-group class="example-radio-group" [(ngModel)]="question.percentageRadio" name="percentageRadio{{i}}">
                    <mat-radio-button class="example-radio-button" value="1">{{'Yes' | translate}}</mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="2">{{'No'| translate}}</mat-radio-button>
                </mat-radio-group>
                <ul *ngIf="question.percentageRadio == 1">
                    <li *ngFor="let answer of question.answers">
                        {{answer.content}}

                        <ul class="margin-check">
                            <li class="margin-check">
                                <mat-checkbox>
                                    {{'own return' | translate}}
                                </mat-checkbox>
                            </li>
                            <li>
                                <mat-checkbox>
                                    {{'social return' | translate}}
                                </mat-checkbox>
                            </li>
                        </ul>



                    </li>
                </ul>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button (click)="c.prev();prev(i);" [disabled]="c.isFirst()">{{'PREVIOUS' | translate}}</button>
                <button mat-button [ngStyle]="{'float':coreService.layout === 'ltr' ? 'right' : 'left' }" (click)="c.next();next(i);">{{'NEXT' |
          translate}}</button>
            </mat-card-actions>

        </ng-container>

        <!--#endregion -->


        <mat-progress-spinner style="  margin-left: auto;
  margin-right: auto;" class="example-margin" color="primary" mode="determinate" [value]="percentage">
        </mat-progress-spinner>


        <app-survey-footer [index]="i" [total]="questions.length"></app-survey-footer>

    </mat-card>
