<mat-card>
    <mat-card-content>
        <mat-tab-group>
            <mat-tab label="المحور الأول">
                <app-researchs-first-results *ngIf="researchs" [researchs]="researchs"></app-researchs-first-results>
            </mat-tab>
            <mat-tab label="المحور الثانى">
                <app-researchs-second-results *ngIf="researchs" [researchs]="researchs"></app-researchs-second-results>
            </mat-tab>
            <mat-tab label="المحور الثالث">
                <app-researchs-third-results *ngIf="researchs" [researchs]="researchs"></app-researchs-third-results>
            </mat-tab>
            <mat-tab label="الدليل المركب">
                <app-researchs-final-results *ngIf="researchs" [researchs]="researchs"></app-researchs-final-results>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>




<mat-card>
    <mat-card-content>
        <mat-tab-group>
            <mat-tab label="وفق البرنامج البحثى">
                <app-researchs-program-results *ngIf="researchs" [researchs]="researchs"></app-researchs-program-results>
            </mat-tab>
            <mat-tab label="وفق المجال البحثى">
                <app-researchs-field-results *ngIf="researchs" [researchs]="researchs"></app-researchs-field-results>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>