/** No CSS for this example */

.example-radio-group {
    display: inline-flex;
    flex-direction: column;
    margin-left: 5px;
}

.example-radio-button {
    margin: 5px;
}

.example-selected-value {
    margin: 5px 0;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
    margin-left: 15px;
}

ul {
    list-style-type: none;
}

.margin-check {
    margin-top: 3px;
    margin-bottom: 3px;
}
